In [77]:
import numpy as np
import pandas as pd

In [78]:
df = pd.read_csv("vgsales_15.csv")
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,14710,Otome wa Oanesama ni Koi Shiteru Portable: 2-J...,PSP,2011.0,Adventure,Alchemist,0.00,0.00,0.03,0.00,0.03
1,2738,DJ Hero 2,PS3,2010.0,Misc,Activision,0.47,0.19,0.00,0.09,0.75
2,13538,Gem Smashers,3DS,2011.0,Platform,Crave Entertainment,0.04,0.00,0.00,0.00,0.04
3,13800,Metal Slug XX,PSP,2009.0,Shooter,DHM Interactive,0.03,0.00,0.00,0.00,0.04
4,8062,X-Men Origins: Wolverine,PS2,2009.0,Action,Activision,0.13,0.00,0.00,0.05,0.18
...,...,...,...,...,...,...,...,...,...,...,...
548,3239,Virtua Cop,SAT,1995.0,Shooter,Sega,0.00,0.00,0.62,0.00,0.62
549,9265,Rogue Warrior,PS3,2009.0,Shooter,Bethesda Softworks,0.11,0.02,0.00,0.01,0.14
550,8530,Bladestorm: Nightmare,PS4,2015.0,Action,Tecmo Koei,0.07,0.04,0.03,0.02,0.16
551,4962,Super Famista 3,SNES,1994.0,Sports,Namco Bandai Games,0.00,0.00,0.39,0.00,0.39
552,1794,Pilotwings,SNES,1990.0,Simulation,Nintendo,0.46,0.17,0.48,0.02,1.14

In [79]:
from sklearn.preprocessing import OrdinalEncoder
Oenc = OrdinalEncoder()
Oenc.fit(df[['Platform','Genre','Year']])
Oenc.categories_

[array(['2600', '3DS', 'DC', 'DS', 'GB', 'GBA', 'GC', 'GEN', 'N64', 'NES',
        'PC', 'PCFX', 'PS', 'PS2', 'PS3', 'PS4', 'PSP', 'PSV', 'SAT',
        'SNES', 'Wii', 'WiiU', 'X360', 'XB', 'XOne'], dtype=object),
 array(['Action', 'Adventure', 'Fighting', 'Misc', 'Platform', 'Puzzle',
        'Racing', 'Role-Playing', 'Shooter', 'Simulation', 'Sports',
        'Strategy'], dtype=object),
 array([1981., 1984., 1985., 1987., 1988., 1989., 1990., 1992., 1993.,
        1994., 1995., 1996., 1997., 1998., 1999., 2000., 2001., 2002.,
        2003., 2004., 2005., 2006., 2007., 2008., 2009., 2010., 2011.,
        2012., 2013., 2014., 2015., 2016.,   nan])]

In [80]:
from sklearn.preprocessing import LabelEncoder
Lenc = LabelEncoder()
Lenc.fit(df['Genre'] )
df['Genre'] = Lenc.fit_transform(df['Genre'] )
Lenc.fit(df['Name'] )
df['Name'] = Lenc.fit_transform(df['Name'] )
Lenc.fit(df['Publisher'] )
df['Publisher'] = Lenc.fit_transform(df['Publisher'] )
Lenc.classes_

array(['2D Boy', '3DO', '505 Games', '5pb', '7G//AMES', 'ASC Games',
       'ASCII Entertainment', 'Acclaim Entertainment', 'Ackkstudios',
       'Activision', 'Agatsuma Entertainment', 'Alchemist', 'Aqua Plus',
       'Asmik Ace Entertainment', 'Astragon', 'Atari', 'Atlus',
       'Avanquest', 'BAM! Entertainment', 'BMG Interactive Entertainment',
       'Banpresto', 'Bethesda Softworks', 'Black Bean Games',
       'Brash Entertainment', 'Broccoli', 'Capcom', 'Cave', 'ChunSoft',
       'Codemasters', 'Crave Entertainment', 'Culture Brain',
       'D3Publisher', 'DHM Interactive', 'Daedalic Entertainment',
       'Deep Silver', 'Destination Software, Inc', 'Destineer',
       'Disney Interactive Studios', 'DreamCatcher Interactive',
       'Eidos Interactive', 'Electronic Arts', 'Empire Interactive',
       'Enterbrain', 'Evolved Games', 'Experience Inc.',
       'Focus Home Interactive', 'FuRyu', 'Funbox Media',
       'GT Interactive', 'Game Factory', 'GameMill Entertainment',
       'Ghostlight', 'Global Star', 'Gremlin Interactive Ltd', 'GungHo',
       'Hasbro Interactive', 'Hip Interactive', 'Hudson Soft',
       'Human Entertainment', 'IE Institute', 'Idea Factory', 'Imax',
       'Infogrames', 'Interplay', 'Kadokawa Shoten', 'Kemco',
       'Koch Media', 'Konami Digital Entertainment', 'LEGO Media',
       'Level 5', 'LucasArts', 'MTO', 'MTV Games',
       'Majesco Entertainment', 'Marvelous Interactive', 'Mastertronic',
       'Mastiff', 'Metro 3D', 'Microsoft Game Studios', 'Midway Games',
       'Milestone S.r.l.', 'Mindscape', 'Mitsui', 'Moss', 'Mystique',
       'NCSoft', 'NEC', 'Namco Bandai Games', 'Natsume', 'Nintendo',
       'Nippon Ichi Software', 'Nordic Games', 'O3 Entertainment',
       'Ocean', 'PopCap Games', 'Prototype', 'RTL', 'Rising Star Games',
       'Rocket Company', 'Russel', 'Sega', 'Sony Computer Entertainment',
       'SouthPeak Games', 'Spike', 'Square Enix', 'SquareSoft',
       'Starfish', 'Storm City Games', 'System Soft', 'TDK Core',
       'TDK Mediactive', 'THQ', 'Taito', 'Takara', 'Take-Two Interactive',
       'TechnoSoft', 'Tecmo Koei', 'Telltale Games', 'Titus',
       'Touchstone', 'Ubisoft', 'Universal Interactive', 'Unknown',
       'Valcon Games', 'Virgin Interactive', 'Vivendi Games',
       'Warner Bros. Interactive Entertainment', 'Xicat Interactive',
       'Xing Entertainment', 'Xplosiv', 'Yamasa Entertainment', 'Yeti',
       'mixi, Inc', nan], dtype=object)

In [81]:
from sklearn.preprocessing import OneHotEncoder
Onhot = OneHotEncoder()
Onhot.fit(df[['Platform']])
Onhot.categories_

[array(['2600', '3DS', 'DC', 'DS', 'GB', 'GBA', 'GC', 'GEN', 'N64', 'NES',
        'PC', 'PCFX', 'PS', 'PS2', 'PS3', 'PS4', 'PSP', 'PSV', 'SAT',
        'SNES', 'Wii', 'WiiU', 'X360', 'XB', 'XOne'], dtype=object)]

In [82]:
Onhot.transform(df[['Platform']]).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [83]:
from sklearn.preprocessing import Normalizer
Norm = Normalizer()
df[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']] = Norm.fit_transform(df[['NA_Sales','EU_Sales','JP_Sales','Other_Sales','Global_Sales']])
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,14710,319,PSP,2011.0,1,11,0.000000,0.000000,0.707107,0.000000,0.707107
1,2738,83,PS3,2010.0,3,9,0.516640,0.208854,0.000000,0.098931,0.824425
2,13538,158,3DS,2011.0,4,29,0.707107,0.000000,0.000000,0.000000,0.707107
3,13800,256,PSP,2009.0,8,32,0.600000,0.000000,0.000000,0.000000,0.800000
4,8062,521,PS2,2009.0,0,9,0.571187,0.000000,0.000000,0.219687,0.790875
...,...,...,...,...,...,...,...,...,...,...,...
548,3239,499,SAT,1995.0,8,100,0.000000,0.000000,0.707107,0.000000,0.707107
549,9265,369,PS3,2009.0,8,21,0.613006,0.111456,0.000000,0.055728,0.780189
550,8530,40,PS4,2015.0,0,116,0.383023,0.218870,0.164153,0.109435,0.875481
551,4962,432,SNES,1994.0,10,87,0.000000,0.000000,0.707107,0.000000,0.707107
552,1794,335,SNES,1990.0,9,89,0.345669,0.127747,0.360698,0.015029,0.856659

In [84]:
from sklearn.model_selection import train_test_split
Y = df['Platform']
X = df.drop(columns=['Platform'])
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [85]:
x_test

,Rank,Name,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
548,3239,499,1995.0,8,100,0.000000,0.000000,0.707107,0.000000,0.707107
82,7438,199,2012.0,3,120,0.572703,0.152721,0.000000,0.076360,0.801784
523,11816,495,1998.0,0,1,0.464991,0.348743,0.000000,0.000000,0.813733
332,14688,176,2015.0,0,116,0.000000,0.000000,0.707107,0.000000,0.707107
132,7653,37,2016.0,8,114,0.212047,0.466504,0.042409,0.127228,0.848189
...,...,...,...,...,...,...,...,...,...,...
140,4503,374,2001.0,10,40,0.588371,0.165479,0.000000,0.036773,0.790623
149,6321,218,NaN,0,126,0.318465,0.350311,0.000000,0.191079,0.859855
498,35,55,2012.0,8,9,0.307645,0.362515,0.040074,0.155364,0.864982
153,7231,7,2008.0,11,111,0.606370,0.107006,0.000000,0.071338,0.784714
172,10332,207,2006.0,9,67,0.000000,0.000000,0.707107,0.000000,0.707107

In [86]:
y_train

18       GC
325      PS
486      GC
296      PC
478     PSV
       ...
71      GBA
106     PSV
270    X360
435      PS
102      PS
Name: Platform, Length: 442, dtype: object

In [87]:
y_test

548    SAT
82     Wii
523     PS
332    PSV
132    PS4
      ...
140     XB
149    PSP
498    PS3
153     DS
172     DS
Name: Platform, Length: 111, dtype: object

In [88]:
x_train

,Rank,Name,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
18,12733,498,2005.0,0,25,0.549442,0.137361,0.000000,0.000000,0.824163
325,6817,200,1997.0,2,128,0.136320,0.102240,0.545279,0.068160,0.817918
486,10440,194,2003.0,10,67,0.000000,0.000000,0.707107,0.000000,0.707107
296,14572,519,2009.0,9,111,0.000000,0.534522,0.000000,0.267261,0.801784
478,7984,331,2014.0,7,100,0.000000,0.000000,0.707107,0.000000,0.707107
...,...,...,...,...,...,...,...,...,...,...
71,10392,407,2002.0,8,9,0.574367,0.215387,0.000000,0.000000,0.789754
106,8076,111,2014.0,7,16,0.343203,0.147087,0.245145,0.147087,0.882523
270,36,55,2012.0,8,9,0.496300,0.258677,0.004211,0.067376,0.825963
435,5093,475,1997.0,2,105,0.000000,0.000000,0.686671,0.039238,0.725909
102,15726,100,2001.0,2,87,0.408248,0.408248,0.000000,0.000000,0.816497

In [89]:
print('Кол-во входных обучающих данных',len(x_train))
print('Кол-во входных проверенных обучающих данных',len(y_train))
print('Кол-во входных тестовых данных',len(x_test))
print('Кол-во входных проверенных тестовых данных',len(y_test))
Pop = df.drop(columns=['Platform'])
Pop.to_csv('simonov.csv')

Кол-во входных обучающих данных 442
Кол-во входных проверенных обучающих данных 442
Кол-во входных тестовых данных 111
Кол-во входных проверенных тестовых данных 111